*{
padding: 0;
margin: 0;
box-sizing: border-box;


}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: white;
}
.nav-links{
  display: flex;
  gap: 10px;
  color: white;
  list-style: none;

}
.nav-links li  {
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
}
.Bar{
  display: flex;
}
.barsearch {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  width: 400px;
}
.voice {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}
.create {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
}
.plus {
  width: 16px;
}
.youtube {
  width: 50px;
  cursor: pointer;
}
.search {
  width: 20px;
  cursor: pointer;
}
.Inp {
  border: none;
  outline: none;
  flex: 1;
}
.notify{
  width: 20px;
}
.content{
display: flex;
gap: 20px;


}
.core-video{
border-radius: 8px;
width: 100%;

}
.logo{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 3px;
  margin-right: 5px;
}

.data{
  display: flex; 
 justify-content: center;

}
.text h4{
  margin-top: 2px;
  font-weight: 500;
  text-wrap: none;
}
.text h5 {
margin-top: 2px;

}
.text h6{
  margin-top: 2px;
}

.Video{
  width: 25%;
}

.Video:hover {
  background-color: #0056b3; 
  color: #e0e0e0;            
}
.service-cards {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
