*{
padding: 0;
margin: 0;
box-sizing: border-box;


}
.Video{
  padding: 3px;
  border-radius: 8px;

margin: 10px;
width: 22%;


}
.core-video{
border-radius: 8px;
width: 100%;

}
.logo{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 3px;
  margin-right: 5px;
}

.data{
  display: flex; 
 justify-content: center;

}
.text h4{
  margin-top: 2px;
  font-weight: 500;
  text-wrap: none;
}
.text h5 {
margin-top: 2px;

}
.text h6{
  margin-top: 2px;
}


.Video:hover {
  background-color: #0056b3; 
  color: #e0e0e0;            
}
.service-cards {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
